html
    overflow-y scroll

body
	background url('../images/bg.jpg') no-repeat center center fixed
	background-size cover
	font-family 'Roboto', sans-serif
	font-size 16px
	line-height 150%
	color $black

input
	font-family 'Roboto', sans-serif

.main
	box-sizing border-box
	width 80%
	max-width 960px
	margin 50px auto
	background #fff
	padding 10px
	transform translateY(150px)
	transition .5s
	transition-delay .3s
	opacity .95
	&--focused
		transform translateY(0)