.search
	display flex
	&__col
		width (100% / 3)
		margin-left 10px
		&:first-child
			margin-left 0
	&__label
		position relative
		width 100%
		padding-left 30px
		border 1px solid $orange_border
		transition .3s
		box-sizing border-box
		&:hover
			border-color $orange
			&:before
				color darken($gray, 10%)
		&:before
			display block
			position absolute
			top 12px
			left 10px
			content ''
			width 20px
			font-size 15px
			line-height 20px
			text-align center
			color lighten($gray, 15%)
		&--dest-from
			fa(plane)
		&--dest-to
			fa(plane)
			&:before
				transform rotate(90deg)
		&--date-from
			fa(calendar)
		&--focused
			animation-name shake
			animation-duration .5s
			animation-timing-function linear
		input
			width 100%
			height 44px
			font-size 15px
			box-sizing border-box
			padding 10px 10px
			border none
			outline none
			color $black
			background none
			&::placeholder
				color $gray

@keyframes shake {
	0% {
		opacity 1
	}
	20% {
		transform translateX(0)
	}
	40% {
		transform translateX(4px)
	}
	60% {
		transform translateX(-4px)
	}
	80% {
		transform translateX(4px)
	}
	10% {
		transform translateX(0)
	}
}